* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    cursor: crosshair;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 14vw;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    margin: 5px;
}

h3 {
    font-size: 42px;
    font-family: 'Pacifico', cursive;
}

h4 {
    font-size: 36px;
    letter-spacing: 0.6em;
}

a {
    color: red;
    text-decoration: none;
    font-size: 32px;
}

a:hover {
    color: black;
}

a:active {
    left: 3px;
}


/* Navbar */
nav {
    height: 75px;
    background: transparent;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 0px;
}

.navigation {
    max-width: 2000px;
    margin: auto;
    height: 100%;
  }

li {
    display: inline-block;
    padding: 20px;
}

.home {
    width: 50%;
}

.star {
    width: 30px;
}

#loading {
    -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.heart {
    width: 20px;
}

/*main container for entire site*/
main {
    overflow: auto; /* makes sure the parent div is not smaller than the children*/
    max-width: 2000px;
    margin: auto;
    /*margin-top: 50px;*/
    position: relative; /* we have the absolute for footer */
}


/* header section */
header {
    width: 100%;
    padding-top: 150px;
    height: 100vh;
}

.hi-name {
    text-align: left;
    margin-left: 4px;
}

.hi-title {
    text-align: right;
    padding-bottom: 15px;
}

.pink:hover {
    background-color: rgb(255, 91, 178);
    font-style: italic;
    transition: 2.0s;
}




/* about section */
.about-left {
    float: left;
    width: 50%;
    background-image: url("https://freedesignfile.com/upload/2018/04/Black-with-white-lines-abstract-pattern-vectors.jpg");
    height: 100vh;
    text-align: center;
}

.about-left-text {
    padding: 15% 20%;
}
/* about image*/
.elin {
    width: 100%;
    height: auto;
    border: 5px solid black;
}

.about-right {
    background-color: black;
    float: right;
    width: 50%;
    text-align: center;
    height: 100vh;
}

.about-right-text {
    padding: 20vh 5vw;
    color: white;
}

button {
    font-size: 16px;
    background-color: rgb(255, 91, 178);
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 20px;
}

button:hover {
    animation: shake 1s infinite;
    cursor: grab;
  }
  
button:active {
    font-size: 14px;
  }
  
  @keyframes shake {
    0%{transform: translate(0px,0px) rotate(0deg)}
    25%{transform: translate(2px,2px) rotate(2deg)}
    50%{transform: translate(-2px,-2px) rotate(-2deg)}
    75%{transform: translate(4px,-2px) rotate(4deg)}
    100%{transform: translate(-2px,2px) rotate(-2deg)}
  }


/*Contact section*/
.contact-left {
    background-color: rgb(255, 91, 178);
    float: left;
    width: 50%;
    height: 90vh;
    text-align: center;
    margin-bottom: 10vh;
}

.contact-right {
    background-color: rgb(255, 91, 178);
    float: right;
    width: 50%;
    text-align: center;
    height: 90vh;
    margin-bottom: 10vh;
}

.contact-right-text {
    padding: 90px;
}

.contact-left-text {
    padding: 115px 30px 30px 30px;
}

.mail {
    font-size: 30px;
}

.fa {
    margin: 10px;
    color: black;
}

.fa:hover {
    color: red;
}
  
.socialmedia {
    font-size: 3.0rem;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
}
  
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}
  
input[type=submit]:hover {
    animation: shake 1s infinite;
    cursor: grab;
}

footer {
  height: 10vh;
  background-color: rgb(255, 91, 178);
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
}

 



/* Popup images */


.overlay {
    position: absolute;
    top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay .light {
    background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup-box {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #666;
    width: 40vw;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
}
.light .popup-box {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup-box .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
}
.popup-box .close:hover {
    opacity: 1;
}
.popup-box .close .popup-image {
    width: 100%;
}




/*responsive for smaller screen*/
@media only screen and (max-width: 600px) {

    h4 {
        font-size: 22px;
        margin-top: 160px;
    }

    a {
        font-size: 24px;
    }

    li {
        padding: 8px;
    }

    nav {
        background: rgb(190, 190, 190);
    }

    header {
        height: 100vh;
    }

    .about-left, .about-right, .contact-left, .contact-right {
        width: 100%;
        margin: 0px;
    }

    .about-left {
        height: 60vh;
    }

    .about-right {
        padding-top: 75px;
    }

    .about-right-text {
        padding: 0px 5vw;
    }

    .contact-left {
        height: 50vh;
        padding-top: 75px;
    }

    .home {
        width: 30%;
    }

    .mail {
        font-size: 22px;
    }

    .contact-right-text {
        padding: 10px 20px;
    }
    
    .contact-left-text {
        padding: 20px;
    }

    .overlay {
        top: 160vh;
    }

    .popup-box {
        width: 80vw;

    }
}
